@using ReadHub.Core.Services.Book.Models;
@using ReadHub.Core.Services.Book;
@using ReadHubWeb.Infranstructure;
@model BookServiceModel
@inject IBookService books

@{
	ViewBag.Title = "Book Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			<img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrlLink" alt="Book Image" />
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Title</u></p>
			<p>
				Price:
				<b>@String.Format("{0:f2}", Model.Price) BGN</b>
			</p>
			<p></p>
			<div class="card-body">
				<div class="btn-group" role="group" aria-label="Basic example">
					<form class="input-group" asp-controller="Book"
						  asp-area="" asp-action="Details" asp-route-id="@Model.Id" method="get">
						<input class="btn btn-light" type="submit" value="Sold" />
					</form>
					<form class="input-group" asp-controller="Cart"
						  asp-area="" asp-action="AddCart" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-success" type="submit" value="Buy" />
					</form>
					<form class="input-group" asp-controller="Favorite"
						  asp-area="" asp-action="AddFavorite" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-light" type="submit" value="❤️" />
					</form>
				</div>
			</div>
			<p></p>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<p>Author: <b>@Model.AuthorFullName</b></p>
					<p class="card-text">Publisher: <b>@Model.PublisherName</b></p>
					<p class="card-text">Genre: <b>@Model.Genre.ToString()</b></p>
					<p class="card-text">TypeBook: <b>@Model.TypeBook.ToString()</b></p>
					<p class="card-text">Published Year: <b>@Model.Year.Year</b></p>
					<p class="card-text">Language: <b>@Model.Language</b></p>
					<p class="card-text">Nationality: <b>@Model.Nationality</b></p>
				</div>
			</div>
			<p></p>
			@if (this.User.IsAdmin())
			{
				<div class="card-body">
					<div class="btn-group" role="group" aria-label="Basic example">
						<form class="input-group" asp-controller="Book"
						  asp-area="" asp-action="Edit" asp-route-id="@Model.Id" method="get">
							<input class="btn btn-info" type="submit" value="Edit" />
						</form>
						<form class="input-group" asp-controller="Book"
						  asp-area="" asp-action="Delete" asp-route-id="@Model.Id" method="get">
							<input class="btn btn-danger" type="submit" value="Delete" />
						</form>
					</div>
				</div>
				<p></p>
			}
			<div class="card" style="width: 36rem;">
				<div class="card-body">
					<p><b>Description:</b></p>
					<p>@Model.Description</p>
				</div>
			</div>

			<p></p>
			<form class="input-group-sm" asp-controller="Review"
				  asp-area="" asp-action="AddReview" asp-route-id="@Model.Id" method="get">
				<input class="btn btn-primary" type="submit" value="Add Comment" />
			</form>
			<p></p>
			@if (Model.Reviews.Any())
			{
				@foreach (var review in Model.Reviews)
				{
					@if (this.User.UserName() == review.UserName || this.User.IsAdmin())
					{
						<form class="input-group-sm" asp-controller="Review"
				  asp-area="" asp-action="Remove" asp-route-id="@review.Id" method="get">
							<input class="btn btn-danger" type="submit" value="Remove" />
						</form>
					}

					for (int i = 0; i < review.RatingNums; i++)
					{
						review.Rating += "⭐";
					}
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<p></p>
							<p class="card-text">UserName: @review.UserName</p>
							<p class="card-text">Rating: @review.Rating</p>
							<p class="card-text">Cooment: @review.Comment</p>
							<p></p>
						</div>
					</div>
				}
			}

		</div>
	</div>
</div>