@using ReadHub.Core.Services.Book.Models;
@using ReadHub.Core.Services.Book;
@model BookServiceModel
@inject IBookService books

@{
	ViewBag.Title = "Book Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			<img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrlLink" alt="Book Image" />
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Title</u></p>
			<p>Author: <b>@Model.AuthorFullName</b></p>
			<p>
				Price:
				<b>@String.Format("{0:f2}", Model.Price) BGN</b>
			</p>
			<p>@Model.Description</p>
			<p>Genre: <b>@Model.Genre</b></p>
			<div class="form-inline">
				<a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
				<a class="ml-2 btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
				<form class="ml-2" asp-controller="Book" asp-action="AddCart" asp-route-id="@Model.Id" method="post">
					<input class="btn btn-primary" type="submit" value="AddCart" />
				</form>
				<form class="ml-2" asp-controller="Book" asp-action="AddFavorite" asp-route-id="@Model.Id" method="post">
					<input class="btn btn-primary" type="submit" value="AddFavorite" />
				</form>
			</div>
			<p></p>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Author Info</h5>
					<p class="card-text">Full Name: @Model.AuthorFullName</p>
					<p class="card-text">Publisher: @Model.PublisherName</p>
				</div>
			</div>
		</div>
	</div>
</div>